__pycache__
input_dataset/*
report_generators/data.csv
report_generators/data.json
*/.DS_Store
dataset
report/DATA_CSV
report_generators/analyzed_files/*
report_generators/data(former).csv
report_generators/data(former).json
.ipynb_checkpoints