test/node_modules/*
*/__pycache__/*
test/bestbags-nodejs-ecommerce/*
test/*
report_generators/data.csv
report_generators/data.json
*/.DS_Store
dataset/input/*
dataset/output/*
report/DATA_CSV
report_generators/analyzed_files/*